body#modern {
  font-family: "Inter", sans-serif;
  background: #000;
}

body#modern .btn-success {
  background: #2c3645;
}

body#modern .btn-success:hover {
  background: #d8d8d8;
  color: #2c3645;
}

body#modern .login-card .submit {
  background: #d8d8d8;
  color: #2c3645;
  -webkit-transition: ease-in-out 0.3s;
  transition: ease-in-out 0.3s;
}

body#modern .login-card .submit:hover {
  background: #73767a;
  color: #d8d8d8;
}

body#modern
  .login-card
  .custom-control-input:checked
  ~ .custom-control-label::before {
  background-color: #73767a;
}

.nav-header {
  width: 290px;
}

.nav-search-box input[type="search"]:focus {
  -webkit-box-shadow: 0px 2px 5px 1px rgba(201, 201, 206, 0.9);
  box-shadow: 0px 2px 5px 1px rgba(201, 201, 206, 0.9);
}

.hamburger span {
  font-size: 28px;
  color: #000;
  -webkit-transition: ease-in-out 0.2s;
  transition: ease-in-out 0.2s;
}

.hamburger.is-active span {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.nk-sidebar {
  /* background: #ffffff; */
  /* width: 260px; */
  border-right: 3px solid #6f6c6c;
  height: 85vh;
}

.nk-sidebar .menu-heading {
  color: #f2e113;
  /* background: #f0f1f1; */
  padding: 20px 14px 5px;
}

.nk-sidebar .menu-heading span {
  font-weight: 600;
  font-size: 14px;
}

.nk-sidebar .metismenu {
  background: none;
  /* border: 1px solid #0d0d0d; */
  border-radius: 15px;
  margin: 10px 25px 5px 5px;
  padding: 0 20px 20px;
}

.nk-sidebar .metismenu a .nav-count {
  color: #fff;
  border: 1px solid #fff;
  min-width: 20px;
  min-height: 20px;
  margin-left: 10px;
  border-radius: 50%;
  font-size: 16px;
  font-weight: bold;
  color: red;
  background: white;
}

.nk-sidebar .metismenu a {
  color: #fff;
  background: #871a1d;
  border-radius: 15px;
  -webkit-transition: ease-in-out 0.3s;
  transition: ease-in-out 0.3s;
  margin-top: 20px;
  font-size: 14px;
  border: 5px solid #871a1d;
  padding: 10px;
}
.nk-sidebar .metismenu a.active,
.nk-sidebar .metismenu a:hover,
.nk-sidebar .metismenu a:focus,
.nk-sidebar .metismenu a:active {
  background: #871a1d;
  border-radius: 15px;
  color: #fff;
  /* border-color: #a27603; */
  box-shadow: 0px 0px 15px #fff;
  font-weight: 600;
}
.text-yellow {
  color: #febe10;
}
.togg {
  border: none !important;
}
.nk-sidebar .togg a {
  color: #f2e113;
  background: #001327;
}

.nk-sidebar .metismenu > li a > i {
  width: 30px;
  padding: 0px;
}

.nk-sidebar ul {
  background: #000;
}

.nav-mini .nk-sidebar .metismenu li > ul {
  background: #ffffff;
}

.nav-right .dropdown i {
  color: #2c3645;
}

.nav-right .dropdown .user-img img {
  border-radius: 50%;
}

.nav-right .dropdown .media img {
  border-radius: 50%;
}

.nav-right .dropdown .dropdown-menu .menu a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.nav-right .dropdown .dropdown-menu .menu a i {
  font-size: 20px;
}

.nav-right .dropdown a.dropdown-item .media h6 span.time {
  right: 85px;
}

.nav-right .dropdown .dropdown-menu-right:not(.inbox-dropdown) a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.nav-right .dropdown .dropdown-menu-right:not(.inbox-dropdown) a i {
  font-size: 18px;
  width: 20px;
}

.content-body {
  margin-left: 275px;
}

.card {
  -webkit-box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  -webkit-transition: ease-in-out 0.3s;
  transition: ease-in-out 0.3s;
}

.card:hover {
  -webkit-box-shadow: 0px 2px 5px 1px rgba(201, 201, 206, 0.9);
  box-shadow: 0px 2px 5px 1px rgba(201, 201, 206, 0.9);
}

.currency-card-rounded .card-body.bitcoin,
.currency-card-rounded .card-body.ethereum,
.currency-card-rounded .card-body.ripple,
.currency-card-rounded .card-body.litecoin {
  background: #ffffff;
  border-radius: 0px !important;
}

.currency-card-rounded .card-body.bitcoin h4,
.currency-card-rounded .card-body.bitcoin h2,
.currency-card-rounded .card-body.bitcoin p,
.currency-card-rounded .card-body.ethereum h4,
.currency-card-rounded .card-body.ethereum h2,
.currency-card-rounded .card-body.ethereum p,
.currency-card-rounded .card-body.ripple h4,
.currency-card-rounded .card-body.ripple h2,
.currency-card-rounded .card-body.ripple p,
.currency-card-rounded .card-body.litecoin h4,
.currency-card-rounded .card-body.litecoin h2,
.currency-card-rounded .card-body.litecoin p {
  color: #2c3645;
}

.currency-card-rounded .card-body .progress {
  background-color: rgba(160, 157, 157, 0.2);
}

.currency-card-rounded .card-body .progress .progress-bar {
  background: #f6931a;
}

.currency-card-rounded .card-body.ethereum .progress {
  background-color: rgba(160, 157, 157, 0.2);
}

.currency-card-rounded .card-body.ethereum .progress .progress-bar {
  background: #345281;
}

.currency-card-rounded .card-body.ripple .progress {
  background-color: rgba(160, 157, 157, 0.2);
}

.currency-card-rounded .card-body.ripple .progress .progress-bar {
  background: #1277a8;
}

.currency-card-rounded .card-body.litecoin .progress {
  background-color: rgba(160, 157, 157, 0.2);
}

.currency-card-rounded .card-body.litecoin .progress .progress-bar {
  background: #b0b0b0;
}

.walet-direction h4 a {
  color: #2c3645 !important;
}

.walet-direction h4 a:hover {
  color: #707070 !important;
}

.pagination a.page-link:hover {
  background: #2c3645;
}

.pagination a.page-link.active {
  background: #2c3645;
}

.total-value h2 {
  color: #2c3645;
}
.p-top {
  padding-top: 10px;
}
.p-top20 {
  padding-top: 20px;
}
.tag-line {
  color: #c2d4f4;
}
.pl-55 {
  padding-left: 55px;
}
.alert-info {
  color: #f2e113;
  background-color: #120602;
  border-color: #120602;
}
.tright {
  text-align: right;
}
.tleft {
  text-align: left;
}
.blueTxt {
  color: #71aceb;
}
a,
.smlTxt {
  /* color: #896802; */
  color: #febe10;
}
.line {
  border-bottom: 2px solid #120602;
  margin-top: 10px;
  clear: both;
}
.rounded {
  padding: 0.3em 0.4em !important;
  border-radius: 1rem !important;
}

#rangeValue {
  position: relative;
  display: block;
  text-align: center;
  font-size: 1em;
  color: #999;
  font-weight: 400;
}
.range {
  width: 100%;
  height: 10px;
  -webkit-appearance: none;
  background: #867c7c;
  outline: none;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 1);
}
.range::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #fff;
  cursor: pointer;
  border: 4px solid rgb(182, 13, 13);
  box-shadow: -407px 0 0 400px#fff;
}

.headerMenu {
  display: none;
}
.headerDropdown:hover .headerMenu {
  display: block;
}

.headerMenu .item {
  padding: 10px 5px;
  text-align: center;
  color: #fff;
  font-size: 12px;
  box-shadow: 0px 0px 15px #fff;
  /* border: 2px solid white; */
  margin-top: 10px;
  cursor: pointer;
  border-radius: 25px;
}

.ui.buttons {
  position: relative;
}
.ui.buttons .red {
  background-color: #871a1d !important;
}
.adminPoolCard {
  padding: 10px 30px;
  height: 100px;
}
.poolCard {
  /* border: 1px solid white; */
  padding: 10px 30px;
  height: 150px;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 40px !important;
  box-shadow: 0px 0px 20px #fff;
  border-radius: 10px;
}

.poolCard .label {
  font-size: 22px;
  font-weight: bold;
}
.poolCard .amount {
  color: #fff;
  margin-top: 10px;
}

.poolCard .apr {
  color: #fff;
  margin-top: 5px;
}
.poolCard span {
  color: #febe10;
}
.accordion__button {
  position: relative;
  background-color: #000 !important;
  color: #fff !important;
  box-shadow: 0px 0px 15px #fff;
  border-radius: 10px;
  margin: 10px;
}
.avatarSectionButton {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: auto !important;
}
.avatarSection {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
}
.avatarSection img {
  border-radius: 50%;
  margin-right: 10px;
}
